# Binaries and build outputs
build/vikunja*
vikunja
*.exe
*.test
*.prof

# Node & Frontend
frontend/node_modules/
frontend/.cache/
frontend/dist/
frontend/coverage/
.pnpm-store/
node_modules/

# OS and IDE
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Docker / Local DB
data/
vikunja.db
.github/
build_deploy.sh
build_deploy.sh
